.header {
    overflow: hidden;
    padding: 20px 10px;
    background-color: #4991E6;
}

.logout {
    float: right;
}

.header a {
    float: left;
    padding: 12px;
    color: #fff;
    font-size: 20px; 
    text-decoration: none;
  }